name: CI

on:
  push:
    branches: [main]
  pull_request:

env:
  FLUTTER_MINIMUM_VERSION: 3.29.0

jobs:
  flutter-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: hrishikesh-kadam/setup-lcov@v1

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Analyze project source
        run: dart analyze . --fatal-infos

      - name: Format code
        run: dart format . --set-exit-if-changed

      - name: Run tests
        run: flutter test ./test/* --coverage

      - name: Exclude coverage
        run: lcov --remove coverage/lcov.info 'lib/src/flutter_eco_mode_platform_interface.dart' 'lib/src/messages.g.dart' 'lib/src/streams/*' -o coverage/lcov.info

      - name: Upload coverage report as artifact
        uses: actions/upload-artifact@v4
        with:
          name: flutter-coverage
          path: coverage/lcov.info

  flutter-minimum-version-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_MINIMUM_VERSION }}
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Analyze project source
        run: dart analyze . --fatal-infos

      - name: Run tests
        run: flutter test ./test/*

  upload-coverage:
    runs-on: ubuntu-latest
    needs: [flutter-tests]
    if: always() && !cancelled() && needs.flutter-tests.result == 'success'
    steps:
      - name: Download flutter coverage report
        uses: actions/download-artifact@v4
        with:
          name: flutter-coverage
          path: coverage

      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false
          files: coverage/lcov.info
          flags: unittests
